<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset Request</title>
  <style>
    body {
      background-color: #f6f9fc;
      padding: 10px 0;
    }

    .email-container {
      max-width: 37.5em;
      margin: 0 auto;
      background-color: #ffffff;
      border: 1px solid #f0f0f0;
      padding: 45px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      margin: 16px 0;
      font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
      font-weight: 300;
      color: #404040;
    }

    a.button {
      display: block;
      max-width: 100%;
      width: 210px;
      padding: 14px 7px;
      background-color: #ea580c;
      /* Updated to the red color */
      color: #fff;
      font-family: 'Open Sans', 'Helvetica Neue', Arial;
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      margin: 10px auto;
    }

    a.button:hover {
      background-color: #c64c00;
      /* Darker shade of red for hover effect */
    }

    .logo {
      display: block;
      margin: 20px auto;
      width: 80px;
    }
  </style>
</head>

<body>
  <table class="email-container" align="center" width="100%" border="0" cellpadding="0" cellspacing="0"
    role="presentation">
    <tr>
      <td>
        <img src="https://shop-swift-v2.vercel.app/shopswift_logo.png" alt="ShopSwift Logo" class="logo">
        <p>Hi <%= userName %>,</p>
        <p>Someone recently requested a password change for your ShopSwift account. If this was you, you can set a new
          password here:</p>
        <a href="<%= resetPasswordURL %>" class="button" target="_blank">Reset Password</a>
        <p>If you didn't request this change or don't want to change your password, you can safely ignore and delete
          this message.</p>
        <p>To keep your account secure, please avoid forwarding this email to anyone else. For more security tips, visit
          our <a href="https://shop-swiftv2.vercel.com" style="color: #ea580c; text-decoration: underline;"
            target="_blank">Help Center</a>.</p>
        <p>Happy Shop-Swifting!</p>
      </td>
    </tr>
  </table>
</body>

</html>